
*{
    margin: auto;
}


.top-nav {
   margin-top: 5px;
   height: 50px;
   color: bisque;
   position: top;
   background-image: url("./images/nav-image.png");
   text-align: center;
   padding: 30px;
 }
 span{
     color:rgb(168, 212, 65);
 }

.band {
    margin: 5px;
    color:rgb(168, 212, 65);
    background-color: whitesmoke;
}
#social-media {
    font-size: 24pt;
}

td > a {
    text-decoration:none;
    color: rgb(104, 164, 184);
    text-align: center;
}

.write-up{
    display:flex;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: stretch;
    background-color: antiquewhite;
}

.bio{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    display:grid;
    text-align: left;
    grid-column-start: 1fr 2fr 1fr;
    justify-content: space-evenly;
    background-color: antiquewhite;


}
.skills > td {
    display:flex;
    flex-direction: column;
    text-align: left;
        
}
.work > td {
    display:flex;
    flex-direction: column;
    text-align: left;  
    
}

.degrees > td {
    display:flex;
    flex-direction: column;
    text-align: left;  
}

.bottom-container {
    display:flex;
    flex-direction: column;
    text-align: left;  
    background-color: rgb(196, 139, 64);
}




@media screen and (min-width: 400px) and (max-width: 500px) {
    .container > div {
        min-width: 200px;
        min-height: 300px;
    }
    .container {
        max-height: 3200px;
        flex-wrap: wrap;
        max-width: 500px; 
    }
}

@media screen and (min-width:501px) and (max-width: 700px) {
    .container > div {
        min-width: 200px;
        min-height: 300px;
    }
    .container {
       
        max-height: 1300px;
        flex-wrap:  wrap;
        max-width: 700px;
    }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
    .container > div {
        min-width: 200px;
        min-height: 300px;
    }
    .container {
        
        flex-wrap: wrap;
        max-height: 650px;
        max-width: 1200px;
    }
}
@media screen and (min-width: 901px) {
    .container {
        min-height: 300px;
      
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }

} 
 