
*{
    margin: auto;
}


.top-nav {
   margin-top: 5px;
   height: 50px;
   color: bisque;
   position: top;
   background-image: url("./images/nav-image.png");
   text-align: center;
   padding: 30px;
 }
 span{
     color:rgb(168, 212, 65);
 }

.band {
    margin: 5px;
    color:rgb(168, 212, 65);
    background-color: whitesmoke;
}
#social-media {
    font-size: 24pt;
}

td > a {
    text-decoration:none;
    color: rgb(104, 164, 184);
    text-align: center;
}

.write-up{
    display:flex;
    text-align: center;
    justify-content: stretch;
    background-color: antiquewhite;
}

.container{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background-color: antiquewhite;

}
.container{
    display:flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-evenly;
}
.skills > td {
    display:flex;
    flex-direction: column;
    text-align: left;    
}
.work > td {
    display:flex;
    flex-direction: column;
    text-align: left;  
}
.degrees > td {
    display:flex;
    flex-direction: column;
    text-align: left;  
}

.bottom-container {
    display:flex;
    flex-direction: column;
    text-align: left;  
    background-color: rgb(196, 139, 64);
}